.Page {
  max-width: 30rem;
}

.List {
  list-style: none;
  margin: 1.5rem 0 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.Item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.75rem;
  border: 1px solid oklch(14.5% 0 0deg);

  @media (prefers-color-scheme: dark) {
    border-color: 1px solid white;
  }
}

.ItemLabel {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  flex: 1;
}

.Text {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: oklch(14.5% 0 0deg);

  @media (prefers-color-scheme: dark) {
    color: oklch(70.8% 0 0deg);
  }
}

.TextDone {
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-decoration: line-through;
  color: oklch(55.6% 0 0deg);

  @media (prefers-color-scheme: dark) {
    color: oklch(37.1% 0 0deg);
  }
}

.DeleteButton {
  height: 1.75rem;
  padding: 0 0.5rem;
  font-size: 0.75rem;
}
