.Layout {
  width: 100%;
  margin-inline: auto;
  padding: 2rem;
}

.Nav {
  display: flex;
  gap: 1rem;
  text-wrap: nowrap;
  margin-bottom: 3rem;
}

.Content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
